.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.navbar-brand img {
  height: 70px;
  width: auto;
  background-color: rgb(110, 110, 110);
}

.navbar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: all .3s ease-in-out;
}

.navbar-menu a:hover {
  color: #f00;
}

.navbar-separator {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 0 10px;
  background-color: #ccc;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-menu {
    margin-top: 20px;
  }
  
  .navbar-menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }
}











.roupas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.roupa {
  margin: 20px;
  text-align: center;
}

.roupa img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.roupa h2 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .roupa img {
    width: 100%;
    height: auto;
  }
}

